.single-product .product-gallery {
    width: 50%;
}

.single-product .product-gallery .single-image-wrapper {
    overflow: hidden;
    display: flex;
}

.single-product .product-gallery .single-image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    transform-origin: center center;
}

.single-product .product-thumbs {
    margin-top: 15px;
    position: relative;
}

.single-product .product-thumb-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.single-product .product-thumb-list .product-thumb-list--item {
    cursor: pointer;
    border: 1px solid transparent;
    transition: .1s ease-in-out all;
}

.single-product .product-thumb-list .product-thumb-list--item:hover {
    border: 1px solid #000;
}

.single-product .product-thumb-list .product-thumb-list--item.active {
    border: 1px solid #000;
}

.single-product .product-thumb-list img {
    width: 100%;
}

.single-product .product-thumbs-navigation button {
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.single-product .product-thumbs-navigation button {
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.single-product .product-thumbs-navigation .next {
    right: 0;
}

.single-product .product-thumbs-navigation .prev {
    left: 0;
}



@media screen and (max-width:580px) {
    .single-product .product-gallery {
        width: 100%;
    }
}