.navbar {
    width: 100%;
    height: 90px;
    background-color: var(--secondary-color);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 98;
}

.navbar .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.navbar .header-mobile {
    display: none;
}

.navbar .header-mobile button {
    background-color: transparent;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

.navbar .header-left .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    color: #fff;
    font-size: 24px;
}

.navbar .header-left .logo .logo-text {
    letter-spacing: 1px;
}

.navbar .header-left .logo .logo-text--color {
    color: var(--primary-color);
}

.navbar .header-center .menu-list {
    display: flex;
    align-items: center;
    column-gap: 35px;
}

.navbar .header-center .menu-list .menu-item {
    color: #fff;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.navbar .header-center .menu-list .menu-item .menu-item--link {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 5px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    position: relative;
    margin-top: 7px;
    padding-bottom: 5px;
}

.navbar .header-center .menu-list .menu-item .menu-item--link i {
    display: flex;
    transition: all .2s ease-out;
}

.navbar .header-center .menu-list .menu-item .menu-item--link::after {
    content: "";
    position: absolute;
    display: inline-block;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--primary-color);
    transition: all .2s ease;
}

.navbar .header-center .menu-list .menu-item:hover .menu-item--link::after {
    width: 100%;
}

.navbar .header-center .menu-list .menu-item--link.active::after {
    width: 100%;
}

.navbar .header-center .resp-nav-close {
    display: none;
}


.navbar .header-right .header-right--links {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.header-right i {
    font-size: 18px;
    display: flex;
    color: #fff;
}

.header-right .header-right--links .header-account-link i {
    font-size: 23px;
}

.navbar .header-right .header-right--links .search-button {
    background-color: transparent;
}

.navbar .header-right .header-right--links .header-cart {
    position: relative;
}

.navbar .header-right .header-cart-link i {
    font-size: 20px;
}

.navbar .header-right .header-right--links .header-cart-link .cart-count {
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    font-size: 12px;
    color: #fff;
    position: absolute;
    top: -10px;
    right: -15px;
}

.navbar .header-right .header-right--links .header-right--link.active i {
    opacity: 0.7;
}

/*! Dropdown Menu START */

.menu-dropdown-wrapper {
    background-color: var(--secondary-color);
    position: absolute;
    left: -100%;
    top: 100%;
    z-index: 1;
    padding: 20px 0;
    text-align: center;
    border: 1px solid var(--border-color);
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transition: .2s ease-in-out all;
}

.navbar .header-center .menu-list .menu-item:hover .menu-dropdown-wrapper {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.menu-dropdown-wrapper .menu-dropdown-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 15px;
    width: 200px;
}

.menu-dropdown-wrapper .menu-dropdown-list a {
    color: #fff;
    transition: all 1s ease;
    font-size: 14px;
    font-weight: 500;
}

.menu-dropdown-wrapper .menu-dropdown-list a:hover {
    color: var(--primary-color);
}

.navbar .header-center .menu-list .menu-item .menu-item--link:hover i {
    transform: rotate(180deg);
}

/*! Dropdown Menu END */


/*? Responsive START  */

@media screen and (max-width: 830px) {
    .navbar .header-mobile {
        display: inline-block;
    }

    .navbar .header-wrapper .header-center {
        position: fixed;
        top: 0;
        left: -100%;
        background-color: var(--secondary-color);
        height: 100vh;
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transition: .5s ease all;
    }

    .navbar .header-wrapper .header-center.show {
        left: 0;
        opacity: 1;
        visibility: visible;
    }

    .navbar .header-wrapper .header-center .menu-list  {
        flex-direction: column;
        padding: 75px;
    }

    .navbar .header-center .menu-list .menu-item .menu-item--link {
        margin-top: unset;
    }

    .navbar .header-center .resp-nav-close {
        display: inline-block;
        background-color: transparent;
        font-size: 20px;
        color: #fff;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    .navbar .menu-dropdown-wrapper {
        display: none;
    }

    .navbar .header-center .menu-list .menu-item .menu-item--link i {
        display: none;
    }
}

@media screen and (max-width: 366px) {
    .navbar .header-mobile button {
        font-size: 18px;
    }

    .navbar .header-left .logo {
        font-size: 18px;
    }

    .navbar .header-right .header-right--links {
        column-gap: 7px;
    }

    .header-right i {
        font-size: 16px;
    }

    .header-right .header-right--links .header-account-link i {
        font-size: 17px;
    }

    .navbar .header-right .header-cart-link i {
        font-size: 14px;
    }

    .navbar .header-right .header-right--links .header-cart-link .cart-count {
        width: 12px;
        height: 12px;
        font-size: 8px;
        top: -9px;
        right: -9px;
    }
}

@media screen and (max-width: 366px) {
    .navbar .header-mobile button {
        font-size: 16px;
    }

    .navbar .header-left .logo {
        font-size: 16px;
    }

    .navbar .header-right .header-right--links {
        column-gap: 4px;
    }

    .header-right i {
        font-size: 12px;
    }

    .header-right .header-right--links .header-account-link i {
        font-size: 14px;
    }
}

/*? Responsive END  */