.main-slider {
    position: relative;
}

.main-slider .slider-item {
    position: relative;
    width: 100%;
    height: calc(100vh - 90px);
    display: none;
    color: #000;
}

.main-slider .slider-item.fade {
    animation: fade-animation 1.5s;
}

@keyframes fade-animation {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

.main-slider .slider-item:nth-child(2) {
    color: #fff;
}

.main-slider .slider-item.display-slide {
    display: flex;
    align-items: center;
}

.main-slider .slider-item .slider-image img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

.main-slider .slider-item .slider-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.main-slider .slider-item .slider-content .slider-text {
    font-size: 18px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.main-slider .slider-item .slider-content .slider-header {
    font-size: 50px;
    margin: 15px 0;
}

.main-slider .slider-buttons button {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-size: 30px;
    background-color: var(--secondary-color);
    color: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s ease-out all;
}

.main-slider .slider-buttons button:hover {
    background-color: #fff;
    color: #000;
    box-shadow: 0 0 25px #000;
}

.main-slider .slider-buttons .main-slider-prev {
    left: 20px;
}

.main-slider .slider-buttons .main-slider-next {
    right: 20px;
}

.main-slider .slider-dots {
    display: flex;
    align-items: center;
    column-gap: 10px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}

.main-slider .slider-dots .slider-dot span {
    display: inline-block;
    width: 25px;
    height: 15px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.3);
    transition: .3s ease-out all;
}

.main-slider .slider-dots .slider-dot:hover span {
    background-color: rgba(0, 0, 0, 0.7);
}

.main-slider .slider-dots .slider-dot.active span {
    background-color: var(--primary-color);
}


/*! Responsive  */

@media screen and (max-width:996px) {
    .main-slider .slider-item .slider-content .slider-text,
    .main-slider .slider-item .slider-content .slider-header {
        text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff, 1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    }

    .main-slider .slider-buttons button {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        font-size: 20px;
    }
}

@media screen and (max-width:824px) {
    .main-slider .slider-item .slider-content {
        margin-left: 20px;
    }

    .main-slider .slider-item .slider-content .slider-text {
        font-size: 16px;
    }

    .main-slider .slider-item .slider-content .slider-header {
        font-size: 40px;
    }
}

@media screen and (max-width:560px) {
    .main-slider .slider-item .slider-content {
        margin-left: 40px;
    }

    .main-slider .slider-item .slider-content .slider-text {
        font-size: 14px;
    }

    .main-slider .slider-item .slider-content .slider-header {
        font-size: 30px;
    }
}

@media screen and (max-width:430px) {
    .main-slider .slider-item .slider-content {
        margin-left: unset;
    }

    .main-slider .slider-buttons {
        display: none;
    }
}